<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email</key>
	<string>Email</string>
	<key>art</key>
	<string>Art</string>
	<key>program</key>
	<string>Program</string>
	<key>gamedesign</key>
	<string>Game Design</string>
	<key>appname</key>
	<string>TapDiff</string>
	<key>score</key>
	<string>Score</string>
	<key>best</key>
	<string>Best</string>
	<key>gameover</key>
	<string>Game Over</string>
	<key>ready</key>
	<string>Ready</string>
	<key>go</key>
	<string>Go</string>
</dict>
</plist>
